*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}

:root{
	--bg-main: #F8FCDA;
	--bg-nav: #000;
	--bg-footer: #000;
	--bg-form: #01AFF1;
	--bg-save: #00FF11;
	--bg-cancel: #D6D6D6 ;
	--font-primary: #fff;
	--font-secundary: #01AFF1;
}

main{
	background: var(--bg-main);
}

header{
	background: var(--bg-nav);
	color: var(--font-primary);
}

footer{
	background: var(--bg-footer);
	color: var(--font-primary);
}

/*Home_Alunos, Novo Aluno*/
form.inserir{
	background: var(--bg-form);
	color: var(--font-primary);
	margin: 0 10vw;
	width: 80vw;
}

label{
	display: block;
	margin-top: 20px;
}

input{
	width: 100%;
	height: 2rem;
}
table{
	background: var(--bg-form);
	color: var(--font-primary);
}
/*cada célula terá as propriedades a seguir, seja qual tabela de resultados for*/
td{
	border-top: 3px solid white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bolder;
}

/*voltar ao início + botoes de ação(exceto editar, salvar, alterar e excluir*/
button{
	background: var(--bg-footer);
	color: var(--font-primary);
}
a{
	background: var(--bg-footer);
	color: var(--font-primary);
}
/*cadastrar, alterar*/
button.salvar{
	background: var(--bg-save);
	width: 50%;
	height: 4rem;
	cursor: pointer;
	font-size: 2rem;
}

button.cancelar{
	width: 50%;
	height: 4rem;
	background: var(--bg-cancel);
	cursor: pointer;
	font-size: 2rem;
	color: black;
}

button.alterar{
	background: var(--bg-save);
	width: 50%;
	height: 4rem;
	cursor: pointer;
	font-size: 2rem;
}

.color-secundary{
	color: var(--font-secundary);
	text-align: center;
}

button.excluir{
	cursor: pointer;
}